Integration/Marketplace/GittiGidiyor/Service References/IndividualActivityService/IndividualActivityServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://activity.individual.ws.listingapi.gg.com" name="IndividualActivityServiceService" targetNamespace="http://activity.individual.ws.listingapi.gg.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://activity.individual.ws.listingapi.gg.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="return" nillable="true" type="xs:anyType" />
      <xs:complexType name="activityWonResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="count" type="xs:int" />
              <xs:element minOccurs="0" name="itemList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:activityWonType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ackCode" type="xs:string" />
          <xs:element minOccurs="0" name="responseTime" type="xs:string" />
          <xs:element minOccurs="0" name="error" type="tns:errorType" />
          <xs:element minOccurs="0" name="timeElapsed" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="activityWonType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:activityBaseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="photos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="photo" type="tns:photoType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="format" type="xs:string" />
              <xs:element minOccurs="0" name="price" type="xs:double" />
              <xs:element minOccurs="0" name="paidPrice" type="xs:double" />
              <xs:element minOccurs="0" name="discountedPrice" type="xs:double" />
              <xs:element minOccurs="0" name="installmentPrice" type="xs:double" />
              <xs:element minOccurs="0" name="productCount" type="xs:int" />
              <xs:element minOccurs="0" name="endDate" type="xs:string" />
              <xs:element minOccurs="0" name="lastProcessDate" type="xs:string" />
              <xs:element minOccurs="0" name="status" type="xs:int" />
              <xs:element minOccurs="0" name="statusDescription" type="xs:string" />
              <xs:element minOccurs="0" name="cargoDetail" type="tns:cargoInfoType" />
              <xs:element minOccurs="0" name="saleCode" type="xs:string" />
              <xs:element minOccurs="0" name="seller" type="xs:string" />
              <xs:element minOccurs="0" name="sellerProcessCount" type="xs:int" />
              <xs:element minOccurs="0" name="note" type="xs:string" />
              <xs:element minOccurs="0" name="thumbImageLink" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="activityBaseType" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="itemId" type="xs:string" />
          <xs:element minOccurs="0" name="productId" type="xs:int" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="productLink" type="xs:string" />
          <xs:element minOccurs="0" name="variantId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="photoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="url" type="xs:string" />
          <xs:element minOccurs="0" name="base64" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="photoId" type="xs:int" />
      </xs:complexType>
      <xs:complexType name="cargoInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="shippingPayment" type="xs:string" />
          <xs:element minOccurs="0" name="cargoCompany" type="xs:string" />
          <xs:element minOccurs="0" name="cargoCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="errorType">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorId" type="xs:string" />
          <xs:element minOccurs="0" name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="viewMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="activitySaleResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="count" type="xs:int" />
              <xs:element minOccurs="0" name="itemList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:activitySaleType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="activitySaleType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:activityBaseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="format" type="xs:string" />
              <xs:element minOccurs="0" name="buyNowPrice" type="xs:double" />
              <xs:element minOccurs="0" name="highPrice" type="xs:double" />
              <xs:element minOccurs="0" name="productCount" type="xs:int" />
              <xs:element minOccurs="0" name="soldProductCount" type="xs:int" />
              <xs:element minOccurs="0" name="remainingTime" type="xs:string" />
              <xs:element minOccurs="0" name="bidCount" type="xs:int" />
              <xs:element minOccurs="0" name="highestBidder" type="xs:string" />
              <xs:element minOccurs="0" name="watcherNumber" type="xs:int" />
              <xs:element minOccurs="0" name="thumbImageLink" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="activityBidResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="count" type="xs:int" />
              <xs:element minOccurs="0" name="itemList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:activityBidType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="activityBidType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:activityBaseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="photos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="photo" type="tns:photoType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="proxy" type="xs:double" />
              <xs:element minOccurs="0" name="seller" type="xs:string" />
              <xs:element minOccurs="0" name="shippingWhere" type="xs:string" />
              <xs:element minOccurs="0" name="sellerStoreName" type="xs:string" />
              <xs:element minOccurs="0" name="category" type="xs:string" />
              <xs:element minOccurs="0" name="remainingTime" type="xs:string" />
              <xs:element minOccurs="0" name="bidPrice" type="xs:double" />
              <xs:element minOccurs="0" name="highPrice" type="xs:double" />
              <xs:element minOccurs="0" name="bidCount" type="xs:int" />
              <xs:element minOccurs="0" name="productCount" type="xs:int" />
              <xs:element minOccurs="0" name="soldItemCount" type="xs:int" />
              <xs:element minOccurs="0" name="thumbImageLink" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="activityDidntWinResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="count" type="xs:int" />
              <xs:element minOccurs="0" name="itemList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:activityDidntWinType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="activityDidntWinType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:activityBaseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="seller" type="xs:string" />
              <xs:element minOccurs="0" name="startPrice" type="xs:double" />
              <xs:element minOccurs="0" name="highPrice" type="xs:double" />
              <xs:element minOccurs="0" name="bidCount" type="xs:int" />
              <xs:element minOccurs="0" name="productCount" type="xs:int" />
              <xs:element minOccurs="0" name="soldItemCount" type="xs:int" />
              <xs:element minOccurs="0" name="endDate" type="xs:string" />
              <xs:element minOccurs="0" name="thumbImageLink" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="activitySoldResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="count" type="xs:int" />
              <xs:element minOccurs="0" name="itemCount" type="xs:int" />
              <xs:element minOccurs="0" name="itemList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:activitySoldType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="activitySoldType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:activityBaseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="photos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="photo" type="tns:photoType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="format" type="xs:string" />
              <xs:element minOccurs="0" name="price" type="xs:double" />
              <xs:element minOccurs="0" name="paidPrice" type="xs:double" />
              <xs:element minOccurs="0" name="discountedPrice" type="xs:double" />
              <xs:element minOccurs="0" name="installmentPrice" type="xs:double" />
              <xs:element minOccurs="0" name="productCount" type="xs:int" />
              <xs:element minOccurs="0" name="endDate" type="xs:string" />
              <xs:element minOccurs="0" name="lastProcessDate" type="xs:string" />
              <xs:element minOccurs="0" name="status" type="xs:int" />
              <xs:element minOccurs="0" name="statusDescription" type="xs:string" />
              <xs:element minOccurs="0" name="cargoDetail" type="tns:cargoInfoType" />
              <xs:element minOccurs="0" name="saleCode" type="xs:string" />
              <xs:element minOccurs="0" name="note" type="xs:string" />
              <xs:element minOccurs="0" name="buyerInfo" type="tns:orderBuyerInfoType" />
              <xs:element minOccurs="0" name="buyerProcessCount" type="xs:int" />
              <xs:element minOccurs="0" name="thumbImageLink" type="xs:string" />
              <xs:element minOccurs="0" name="saleTxCodeList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="saleTxCode" nillable="true" type="xs:int" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="variantSpecs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="variantSpec" nillable="true" type="tns:itemVariantSpecType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="saleId" type="xs:int" />
              <xs:element minOccurs="0" name="shortStatusDescription" type="xs:string" />
              <xs:element minOccurs="0" name="hasInvoiceInfo" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="orderBuyerInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="surname" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element minOccurs="0" name="address" type="xs:string" />
          <xs:element minOccurs="0" name="district" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="zipCode" type="xs:string" />
          <xs:element minOccurs="0" name="processCount" type="xs:int" />
          <xs:element minOccurs="0" name="ratePercentage" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="itemVariantSpecType">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute name="quantity" type="xs:int" />
        <xs:attribute name="soldQuantity" type="xs:int" />
        <xs:attribute name="stockCode" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="activityUnsoldResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="count" type="xs:int" />
              <xs:element minOccurs="0" name="itemList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:activityUnsoldType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="activityUnsoldType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:activityBaseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="endDate" type="xs:string" />
              <xs:element minOccurs="0" name="thumbImageLink" type="xs:string" />
              <xs:element minOccurs="0" name="format" type="xs:string" />
              <xs:element minOccurs="0" name="buyNowPrice" type="xs:double" />
              <xs:element minOccurs="0" name="highPrice" type="xs:double" />
              <xs:element minOccurs="0" name="startPrice" type="xs:double" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="activityWatchResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="count" type="xs:int" />
              <xs:element minOccurs="0" name="itemList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:activityWatchType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="activityWatchType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:activityBaseType">
            <xs:sequence>
              <xs:element minOccurs="0" name="photos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="photo" type="tns:photoType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="inBasket" type="xs:boolean" />
              <xs:element minOccurs="0" name="seller" type="xs:string" />
              <xs:element minOccurs="0" name="shippingWhere" type="xs:string" />
              <xs:element minOccurs="0" name="sellerStoreName" type="xs:string" />
              <xs:element minOccurs="0" name="category" type="xs:string" />
              <xs:element minOccurs="0" name="format" type="xs:string" />
              <xs:element minOccurs="0" name="buyNowPrice" type="xs:double" />
              <xs:element minOccurs="0" name="highPrice" type="xs:double" />
              <xs:element minOccurs="0" name="remainingTime" type="xs:string" />
              <xs:element minOccurs="0" name="bidCount" type="xs:int" />
              <xs:element minOccurs="0" name="productCount" type="xs:int" />
              <xs:element minOccurs="0" name="soldItemCount" type="xs:int" />
              <xs:element minOccurs="0" name="thumbImageLink" type="xs:string" />
              <xs:element minOccurs="0" name="isFinished" type="xs:boolean" />
              <xs:element minOccurs="0" name="positiveRatePercentage" type="xs:int" />
              <xs:element minOccurs="0" name="highestBidder" type="tns:bidderType" />
              <xs:element minOccurs="0" name="variantSpecs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="variantSpec" nillable="true" type="tns:itemVariantSpecType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="startDate" type="xs:string" />
              <xs:element minOccurs="0" name="featureType" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="bidderType">
        <xs:sequence>
          <xs:element minOccurs="0" name="bidder" type="xs:string" />
          <xs:element minOccurs="0" name="bidderMasked" type="xs:string" />
          <xs:element minOccurs="0" name="ribbonType" type="xs:string" />
          <xs:element minOccurs="0" name="processCount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="IndividualActivityService_getActiveSalesResponse">
    <part name="return" type="tns:activitySaleResponse" />
  </message>
  <message name="IndividualActivityService_getSoldItems">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="withData" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualActivityService_getDidntWinItemsResponse">
    <part name="return" type="tns:activityDidntWinResponse" />
  </message>
  <message name="IndividualActivityService_getWonItemsResponse">
    <part name="return" type="tns:activityWonResponse" />
  </message>
  <message name="IndividualActivityService_getSoldItemsResponse">
    <part name="return" type="tns:activitySoldResponse" />
  </message>
  <message name="IndividualActivityService_getWatchItems">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="withData" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualActivityService_getServiceNameResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="IndividualActivityService_getUnsoldItems">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="withData" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualActivityService_getUnsoldItemsResponse">
    <part name="return" type="tns:activityUnsoldResponse" />
  </message>
  <message name="IndividualActivityService_getWatchItemsResponse">
    <part name="return" type="tns:activityWatchResponse" />
  </message>
  <message name="IndividualActivityService_getDidntWinItems">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="withData" type="xsd:boolean" />
    <part name="dayInterval" type="xsd:int" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualActivityService_getActiveSales">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="withData" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualActivityService_getWonItems">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="withData" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualActivityService_getBidItems">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="withData" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualActivityService_getBidItemsResponse">
    <part name="return" type="tns:activityBidResponse" />
  </message>
  <message name="IndividualActivityService_getServiceName" />
  <portType name="IndividualActivityService">
    <operation name="getActiveSales" parameterOrder="apiKey sign time startOffSet rowCount withData lang">
      <input message="tns:IndividualActivityService_getActiveSales" />
      <output message="tns:IndividualActivityService_getActiveSalesResponse" />
    </operation>
    <operation name="getBidItems" parameterOrder="apiKey sign time startOffSet rowCount withData lang">
      <input message="tns:IndividualActivityService_getBidItems" />
      <output message="tns:IndividualActivityService_getBidItemsResponse" />
    </operation>
    <operation name="getDidntWinItems" parameterOrder="apiKey sign time startOffSet rowCount withData dayInterval lang">
      <input message="tns:IndividualActivityService_getDidntWinItems" />
      <output message="tns:IndividualActivityService_getDidntWinItemsResponse" />
    </operation>
    <operation name="getServiceName">
      <input message="tns:IndividualActivityService_getServiceName" />
      <output message="tns:IndividualActivityService_getServiceNameResponse" />
    </operation>
    <operation name="getSoldItems" parameterOrder="apiKey sign time startOffSet rowCount withData lang">
      <input message="tns:IndividualActivityService_getSoldItems" />
      <output message="tns:IndividualActivityService_getSoldItemsResponse" />
    </operation>
    <operation name="getUnsoldItems" parameterOrder="apiKey sign time startOffSet rowCount withData lang">
      <input message="tns:IndividualActivityService_getUnsoldItems" />
      <output message="tns:IndividualActivityService_getUnsoldItemsResponse" />
    </operation>
    <operation name="getWatchItems" parameterOrder="apiKey sign time startOffSet rowCount withData lang">
      <input message="tns:IndividualActivityService_getWatchItems" />
      <output message="tns:IndividualActivityService_getWatchItemsResponse" />
    </operation>
    <operation name="getWonItems" parameterOrder="apiKey sign time startOffSet rowCount withData lang">
      <input message="tns:IndividualActivityService_getWonItems" />
      <output message="tns:IndividualActivityService_getWonItemsResponse" />
    </operation>
  </portType>
  <binding name="IndividualActivityServiceBinding" type="tns:IndividualActivityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getActiveSales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getBidItems">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getDidntWinItems">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getServiceName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getSoldItems">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getUnsoldItems">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getWatchItems">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getWonItems">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://activity.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
  </binding>
  <service name="IndividualActivityServiceService">
    <port name="IndividualActivityServicePort" binding="tns:IndividualActivityServiceBinding">
      <soap:address location="http://dev.gittigidiyor.com:8080/listingapi/ws/IndividualActivityService" />
    </port>
  </service>
</definitions>