Integration/Marketplace/GittiGidiyor/Service References/DeveloperService/DeveloperServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://developer.anonymous.ws.listingapi.gg.com" name="DeveloperServiceService" targetNamespace="https://developer.anonymous.ws.listingapi.gg.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="https://developer.anonymous.ws.listingapi.gg.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="return" type="tns:developerServiceResponse" />
      <xs:complexType name="developerServiceResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="developerId" type="xs:string" />
              <xs:element minOccurs="0" name="nick" type="xs:string" />
              <xs:element minOccurs="0" name="registerDate" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ackCode" type="xs:string" />
          <xs:element minOccurs="0" name="responseTime" type="xs:string" />
          <xs:element minOccurs="0" name="error" type="tns:errorType" />
          <xs:element minOccurs="0" name="timeElapsed" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="errorType">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorId" type="xs:string" />
          <xs:element minOccurs="0" name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="viewMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="DeveloperService_registerDeveloper">
    <part name="nick" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="DeveloperService_getServiceNameResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="DeveloperService_getServiceName" />
  <message name="DeveloperService_isDeveloper">
    <part name="nick" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="DeveloperService_isDeveloperResponse">
    <part name="return" type="tns:developerServiceResponse" />
  </message>
  <message name="DeveloperService_registerDeveloperResponse">
    <part name="return" type="tns:developerServiceResponse" />
  </message>
  <portType name="DeveloperService">
    <operation name="getServiceName">
      <input message="tns:DeveloperService_getServiceName" />
      <output message="tns:DeveloperService_getServiceNameResponse" />
    </operation>
    <operation name="isDeveloper" parameterOrder="nick password lang">
      <input message="tns:DeveloperService_isDeveloper" />
      <output message="tns:DeveloperService_isDeveloperResponse" />
    </operation>
    <operation name="registerDeveloper" parameterOrder="nick password lang">
      <input message="tns:DeveloperService_registerDeveloper" />
      <output message="tns:DeveloperService_registerDeveloperResponse" />
    </operation>
  </portType>
  <binding name="DeveloperServiceBinding" type="tns:DeveloperService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getServiceName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://developer.anonymous.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://developer.anonymous.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="isDeveloper">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://developer.anonymous.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://developer.anonymous.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="registerDeveloper">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://developer.anonymous.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://developer.anonymous.ws.listingapi.gg.com" />
      </output>
    </operation>
  </binding>
  <service name="DeveloperServiceService">
    <port name="DeveloperServicePort" binding="tns:DeveloperServiceBinding">
      <soap:address location="https://dev.gittigidiyor.com:8443/listingapi/ws/DeveloperService" />
    </port>
  </service>
</definitions>