Integration/Marketplace/GittiGidiyor/Service References/IndividualUserMessageService/IndividualUserMessageServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://message.individual.ws.listingapi.gg.com" xmlns:ns1="http://jaxb.dev.java.net/array" name="IndividualUserMessageServiceService" targetNamespace="http://message.individual.ws.listingapi.gg.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://jaxb.dev.java.net/array" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="intArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://message.individual.ws.listingapi.gg.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="return" nillable="true" type="xs:anyType" />
      <xs:complexType name="userMessageServiceResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="messageCount" type="xs:int" />
              <xs:element minOccurs="0" name="messages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="message" nillable="true" type="tns:userMessageType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ackCode" type="xs:string" />
          <xs:element minOccurs="0" name="responseTime" type="xs:string" />
          <xs:element minOccurs="0" name="error" type="tns:errorType" />
          <xs:element minOccurs="0" name="timeElapsed" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" name="messageId" type="xs:int" />
          <xs:element minOccurs="0" name="from" type="xs:string" />
          <xs:element minOccurs="0" name="to" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="messageContent" type="xs:string" />
          <xs:element minOccurs="0" name="time" type="xs:string" />
          <xs:element minOccurs="0" name="deleteTime" type="xs:string" />
          <xs:element minOccurs="0" name="isRead" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="errorType">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorId" type="xs:string" />
          <xs:element minOccurs="0" name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="viewMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userMessageServiceIdResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="messageCount" type="xs:int" />
              <xs:element minOccurs="0" name="messageIdList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="messageId" nillable="true" type="xs:int" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="result" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="IndividualMessageService_deleteOutgoingMessages">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="messageId" type="ns1:intArray" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualMessageService_getInboxMessages">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="unread" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualMessageService_readMessageResponse">
    <part name="return" type="tns:userMessageServiceResponse" />
  </message>
  <message name="IndividualMessageService_sendNewMessageResponse">
    <part name="return" type="tns:userMessageServiceIdResponse" />
  </message>
  <message name="IndividualMessageService_getSendedMessagesResponse">
    <part name="return" type="tns:userMessageServiceResponse" />
  </message>
  <message name="IndividualMessageService_sendNewMessage">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="to" type="xsd:string" />
    <part name="title" type="xsd:string" />
    <part name="message" type="xsd:string" />
    <part name="sendCopy" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualMessageService_getInboxMessagesResponse">
    <part name="return" type="tns:userMessageServiceResponse" />
  </message>
  <message name="IndividualMessageService_deleteOutgoingMessagesResponse">
    <part name="return" type="tns:userMessageServiceIdResponse" />
  </message>
  <message name="IndividualMessageService_getSendedMessages">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualMessageService_getMessagesByUserResponse">
    <part name="return" type="tns:userMessageServiceResponse" />
  </message>
  <message name="IndividualMessageService_deleteIncomingMessagesResponse">
    <part name="return" type="tns:userMessageServiceIdResponse" />
  </message>
  <message name="IndividualMessageService_getMessagesByUser">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="byUser" type="xsd:string" />
    <part name="messageType" type="xsd:string" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualMessageService_readMessage">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="messageId" type="xsd:int" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualMessageService_getServiceName" />
  <message name="IndividualMessageService_deleteIncomingMessages">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="messageId" type="ns1:intArray" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualMessageService_getServiceNameResponse">
    <part name="return" type="xsd:string" />
  </message>
  <portType name="IndividualMessageService">
    <operation name="deleteIncomingMessages" parameterOrder="apiKey sign time messageId lang">
      <input message="tns:IndividualMessageService_deleteIncomingMessages" />
      <output message="tns:IndividualMessageService_deleteIncomingMessagesResponse" />
    </operation>
    <operation name="deleteOutgoingMessages" parameterOrder="apiKey sign time messageId lang">
      <input message="tns:IndividualMessageService_deleteOutgoingMessages" />
      <output message="tns:IndividualMessageService_deleteOutgoingMessagesResponse" />
    </operation>
    <operation name="getInboxMessages" parameterOrder="apiKey sign time startOffSet rowCount unread lang">
      <input message="tns:IndividualMessageService_getInboxMessages" />
      <output message="tns:IndividualMessageService_getInboxMessagesResponse" />
    </operation>
    <operation name="getMessagesByUser" parameterOrder="apiKey sign time byUser messageType startOffSet rowCount lang">
      <input message="tns:IndividualMessageService_getMessagesByUser" />
      <output message="tns:IndividualMessageService_getMessagesByUserResponse" />
    </operation>
    <operation name="getSendedMessages" parameterOrder="apiKey sign time startOffSet rowCount lang">
      <input message="tns:IndividualMessageService_getSendedMessages" />
      <output message="tns:IndividualMessageService_getSendedMessagesResponse" />
    </operation>
    <operation name="getServiceName">
      <input message="tns:IndividualMessageService_getServiceName" />
      <output message="tns:IndividualMessageService_getServiceNameResponse" />
    </operation>
    <operation name="readMessage" parameterOrder="apiKey sign time messageId lang">
      <input message="tns:IndividualMessageService_readMessage" />
      <output message="tns:IndividualMessageService_readMessageResponse" />
    </operation>
    <operation name="sendNewMessage" parameterOrder="apiKey sign time to title message sendCopy lang">
      <input message="tns:IndividualMessageService_sendNewMessage" />
      <output message="tns:IndividualMessageService_sendNewMessageResponse" />
    </operation>
  </portType>
  <binding name="IndividualMessageServiceBinding" type="tns:IndividualMessageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="deleteIncomingMessages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="deleteOutgoingMessages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getInboxMessages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getMessagesByUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getSendedMessages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getServiceName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="readMessage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="sendNewMessage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://message.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
  </binding>
  <service name="IndividualUserMessageServiceService">
    <port name="IndividualMessageServicePort" binding="tns:IndividualMessageServiceBinding">
      <soap:address location="http://dev.gittigidiyor.com:8080/listingapi/ws/IndividualUserMessageService" />
    </port>
  </service>
</definitions>