Integration/Marketplace/GittiGidiyor/Service References/IndividualProductService/IndividualProductServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://product.individual.ws.listingapi.gg.com" xmlns:ns1="http://jaxb.dev.java.net/array" name="IndividualProductServiceService" targetNamespace="https://product.individual.ws.listingapi.gg.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://jaxb.dev.java.net/array" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="intArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="https://product.individual.ws.listingapi.gg.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="return" nillable="true" type="xs:anyType" />
      <xs:complexType name="productServiceIdResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="productCount" type="xs:long" />
              <xs:element minOccurs="0" name="productIdList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="productId" nillable="true" type="xs:int" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="voucher" type="xs:string" />
              <xs:element minOccurs="0" name="price" type="xs:double" />
              <xs:element minOccurs="0" name="result" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ackCode" type="xs:string" />
          <xs:element minOccurs="0" name="responseTime" type="xs:string" />
          <xs:element minOccurs="0" name="error" type="tns:errorType" />
          <xs:element minOccurs="0" name="timeElapsed" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="errorType">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorId" type="xs:string" />
          <xs:element minOccurs="0" name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="viewMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productServiceSpecResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="productId" type="xs:int" />
              <xs:element minOccurs="0" name="itemId" type="xs:string" />
              <xs:element minOccurs="0" name="specs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="spec" type="tns:specType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="specType">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
        <xs:attribute name="required" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="productServiceDetailResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="productDetail" type="tns:productDetailType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productDetailType">
        <xs:sequence>
          <xs:element minOccurs="0" name="itemId" type="xs:string" />
          <xs:element minOccurs="0" name="productId" type="xs:int" />
          <xs:element minOccurs="0" name="product" type="tns:productType" />
          <xs:element minOccurs="0" name="summary" type="tns:productConcerningType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productType">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryCode" type="xs:string" />
          <xs:element minOccurs="0" name="storeCategoryId" type="xs:int" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="subtitle" type="xs:string" />
          <xs:element minOccurs="0" name="specs">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="spec" type="tns:specType" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="photos">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="photo" type="tns:photoType" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="pageTemplate" type="xs:int" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="catalogId" type="xs:int" />
          <xs:element minOccurs="0" name="catalogDetail" type="xs:int" />
          <xs:element minOccurs="0" name="catalogFilter" type="xs:string" />
          <xs:element minOccurs="0" name="format" type="xs:string" />
          <xs:element minOccurs="0" name="startPrice" type="xs:double" />
          <xs:element minOccurs="0" name="buyNowPrice" type="xs:double" />
          <xs:element minOccurs="0" name="netEarning" type="xs:double" />
          <xs:element minOccurs="0" name="listingDays" type="xs:int" />
          <xs:element minOccurs="0" name="productCount" type="xs:int" />
          <xs:element minOccurs="0" name="cargoDetail" type="tns:cargoDetailType" />
          <xs:element minOccurs="0" name="affiliateOption" type="xs:boolean" />
          <xs:element minOccurs="0" name="boldOption" type="xs:boolean" />
          <xs:element minOccurs="0" name="catalogOption" type="xs:boolean" />
          <xs:element minOccurs="0" name="vitrineOption" type="xs:boolean" />
          <xs:element minOccurs="0" name="variantGroups">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="variantGroup" type="tns:variantGroupType" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="auctionProfilePercentage" type="xs:int" />
          <xs:element minOccurs="0" name="marketPrice" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="photoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="url" type="xs:string" />
          <xs:element minOccurs="0" name="base64" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="photoId" type="xs:int" />
      </xs:complexType>
      <xs:complexType name="cargoDetailType">
        <xs:sequence>
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="cargoCompanies">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="cargoCompany" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="shippingPayment" type="xs:string" />
          <xs:element minOccurs="0" name="cargoDescription" type="xs:string" />
          <xs:element minOccurs="0" name="shippingWhere" type="xs:string" />
          <xs:element minOccurs="0" name="cargoCompanyDetails">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="cargoCompanyDetail" type="tns:cargoCompanyDetailType" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="shippingTime" type="tns:cargoTimeType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cargoCompanyDetailType">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
          <xs:element minOccurs="0" name="cityPrice" type="xs:string" />
          <xs:element minOccurs="0" name="countryPrice" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cargoTimeType">
        <xs:sequence>
          <xs:element minOccurs="0" name="days" type="xs:string" />
          <xs:element minOccurs="0" name="beforeTime" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="variantGroupType">
        <xs:sequence>
          <xs:element minOccurs="0" name="variants">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="variant" type="tns:variantType" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="photos">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="photo" type="tns:photoType" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="nameId" type="xs:long" />
        <xs:attribute name="valueId" type="xs:long" />
        <xs:attribute name="alias" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="variantType">
        <xs:sequence>
          <xs:element minOccurs="0" name="variantSpecs">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="variantSpec" type="tns:variantSpecType" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="quantity" type="xs:int" />
          <xs:element minOccurs="0" name="stockCode" type="xs:string" />
          <xs:element minOccurs="0" name="soldCount" type="xs:int" />
        </xs:sequence>
        <xs:attribute name="variantId" type="xs:long" />
        <xs:attribute name="operation" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="variantSpecType">
        <xs:sequence />
        <xs:attribute name="nameId" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="valueId" type="xs:long" />
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute name="orderNumber" type="xs:int" />
        <xs:attribute name="specDataOrderNumber" type="xs:int" />
      </xs:complexType>
      <xs:complexType name="productConcerningType">
        <xs:sequence>
          <xs:element minOccurs="0" name="soldCount" type="xs:int" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="listingStatus" type="xs:string" />
          <xs:element minOccurs="0" name="currentPrice" type="xs:string" />
          <xs:element minOccurs="0" name="hasRelistOption" type="xs:boolean" />
          <xs:element minOccurs="0" name="bidCount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productServiceVariantResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="productId" type="xs:int" />
              <xs:element minOccurs="0" name="itemId" type="xs:string" />
              <xs:element minOccurs="0" name="variantGroups">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="variantGroup" type="tns:variantGroupType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productServicePaymentResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="paidPrice" type="xs:string" />
              <xs:element minOccurs="0" name="productCount" type="xs:int" />
              <xs:element minOccurs="0" name="products">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="productId" type="xs:int" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="message" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productServiceListResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="productCount" type="xs:long" />
              <xs:element minOccurs="0" name="products">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="product" nillable="true" type="tns:productDetailType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productServiceStockResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="products">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="product" nillable="true" type="tns:stockDetailType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="stockDetailType">
        <xs:sequence>
          <xs:element minOccurs="0" name="itemId" type="xs:string" />
          <xs:element minOccurs="0" name="productId" type="xs:int" />
          <xs:element minOccurs="0" name="format" type="xs:string" />
          <xs:element minOccurs="0" name="amount" type="xs:int" />
          <xs:element minOccurs="0" name="soldItemCount" type="xs:int" />
          <xs:element minOccurs="0" name="startPrice" type="xs:double" />
          <xs:element minOccurs="0" name="buyNowPrice" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productServiceProcessResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="successfulProcesses">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="successfulProcess" nillable="true" type="tns:productSuccessProcessType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="failedProcesses">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="failedProcess" nillable="true" type="tns:productFailProcessType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="result" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productSuccessProcessType">
        <xs:sequence>
          <xs:element minOccurs="0" name="productId" type="xs:int" />
          <xs:element minOccurs="0" name="changeStatus" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productFailProcessType">
        <xs:sequence>
          <xs:element minOccurs="0" name="productId" type="xs:int" />
          <xs:element minOccurs="0" name="failCode" type="xs:int" />
          <xs:element minOccurs="0" name="failReason" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productServiceDescResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="productId" type="xs:int" />
              <xs:element minOccurs="0" name="itemId" type="xs:string" />
              <xs:element minOccurs="0" name="description" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productServiceBooleanResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="exists" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productServiceImageStatusResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="productId" type="xs:string" />
              <xs:element name="isDelayed" type="xs:boolean" />
              <xs:element minOccurs="0" name="photos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="photo" type="tns:imageLogValueType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="imageLogValueType">
        <xs:sequence>
          <xs:element minOccurs="0" name="photoId" type="xs:int" />
          <xs:element minOccurs="0" name="variantValueId" type="xs:int" />
          <xs:element minOccurs="0" name="photoUrl" type="xs:string" />
          <xs:element minOccurs="0" name="errorType" type="xs:string" />
          <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
          <xs:element minOccurs="0" name="processDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productServiceResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="productId" type="xs:int" />
              <xs:element minOccurs="0" name="payRequired" type="xs:boolean" />
              <xs:element minOccurs="0" name="result" type="xs:string" />
              <xs:element minOccurs="0" name="descriptionFilterStatus" type="xs:int" />
              <xs:element minOccurs="0" name="variantGroups">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="variantGroup" type="tns:variantGroupType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productServiceRetailResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="productId" type="xs:int" />
              <xs:element minOccurs="0" name="itemId" type="xs:string" />
              <xs:element minOccurs="0" name="payRequired" type="xs:boolean" />
              <xs:element minOccurs="0" name="result" type="xs:string" />
              <xs:element minOccurs="0" name="descriptionFilterStatus" type="xs:int" />
              <xs:element minOccurs="0" name="listingStatus" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productVariantType">
        <xs:sequence>
          <xs:element minOccurs="0" name="variantGroups">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="variantGroup" type="tns:variantGroupType" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productServicePriceResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="paymentVoucher" type="xs:string" />
              <xs:element minOccurs="0" name="price" type="xs:double" />
              <xs:element minOccurs="0" name="message" type="xs:string" />
              <xs:element minOccurs="0" name="payRequired" type="xs:boolean" />
              <xs:element minOccurs="0" name="productCount" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productServiceStatusResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="productCount" type="xs:long" />
              <xs:element minOccurs="0" name="productStatusList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="productStatus" nillable="true" type="tns:productStatusType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productStatusType">
        <xs:sequence>
          <xs:element minOccurs="0" name="productId" type="xs:int" />
          <xs:element minOccurs="0" name="itemId" type="xs:string" />
          <xs:element minOccurs="0" name="currentStatus" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productFinishReasonListResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="productFinishReasonTypeList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="productFinishReasonType" nillable="true" type="tns:productFinishReasonType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productFinishReasonType">
        <xs:sequence>
          <xs:element minOccurs="0" name="productId" type="xs:int" />
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="reason" type="xs:string" />
          <xs:element minOccurs="0" name="memberId" type="xs:int" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element name="reList" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="IndividualProductService_insertProductWithNewCargoDetailResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_calculatePriceForShoppingCartResponse">
    <part name="return" type="tns:productServicePriceResponse" />
  </message>
  <message name="IndividualProductService_cloneProductResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_getNewlyListedProductIdList">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="viaApi" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updateProduct">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="itemId" type="xsd:string" />
    <part name="productId" type="xsd:string" />
    <part name="product" type="tns:productType" />
    <part name="onSale" type="xsd:boolean" />
    <part name="forceToSpecEntry" type="xsd:boolean" />
    <part name="nextDateOption" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updatePriceResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_getProductsByIdsResponse">
    <part name="return" type="tns:productServiceListResponse" />
  </message>
  <message name="IndividualProductService_deleteProducts">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productIdList" type="ns1:intArray" />
    <part name="itemIdList" type="ns1:stringArray" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getProductFinishReasonListByAuthenticatedUser">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updateVariantStockResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_insertProduct">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="itemId" type="xsd:string" />
    <part name="product" type="tns:productType" />
    <part name="forceToSpecEntry" type="xsd:boolean" />
    <part name="nextDateOption" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getProductDescriptionResponse">
    <part name="return" type="tns:productServiceDescResponse" />
  </message>
  <message name="IndividualProductService_getStockAndPrice">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productIdList" type="ns1:intArray" />
    <part name="itemIdList" type="ns1:stringArray" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_insertRetailProductResponse">
    <part name="return" type="tns:productServiceRetailResponse" />
  </message>
  <message name="IndividualProductService_getProductResponse">
    <part name="return" type="tns:productServiceDetailResponse" />
  </message>
  <message name="IndividualProductService_updatePriceByPercentage">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="operatorType" type="xsd:string" />
    <part name="percentage" type="xsd:int" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_calculatePriceForRevisionResponse">
    <part name="return" type="tns:productServicePriceResponse" />
  </message>
  <message name="IndividualProductService_calculatePriceForShoppingCart">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productIdList" type="ns1:intArray" />
    <part name="itemIdList" type="ns1:stringArray" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updateProductWithNewCargoDetail">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="itemId" type="xsd:string" />
    <part name="productId" type="xsd:string" />
    <part name="product" type="tns:productType" />
    <part name="onSale" type="xsd:boolean" />
    <part name="forceToSpecEntry" type="xsd:boolean" />
    <part name="nextDateOption" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getProductsByIds">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productIdList" type="ns1:intArray" />
    <part name="itemIdList" type="ns1:stringArray" />
    <part name="withData" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updateProductVariants">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="productVariant" type="tns:productVariantType" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updateMarketPriceResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_getProductImageStatus">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updateProductVariantsResponse">
    <part name="return" type="tns:productServiceRetailResponse" />
  </message>
  <message name="IndividualProductService_deleteProductsResponse">
    <part name="return" type="tns:productServiceProcessResponse" />
  </message>
  <message name="IndividualProductService_payPriceResponse">
    <part name="return" type="tns:productServicePaymentResponse" />
  </message>
  <message name="IndividualProductService_updateStock">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="stock" type="xsd:int" />
    <part name="cancelBid" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_checkForItemId">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="itemId" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getStockAndPriceResponse">
    <part name="return" type="tns:productServiceStockResponse" />
  </message>
  <message name="IndividualProductService_getProductFinishReasonListByAuthenticatedUserResponse">
    <part name="return" type="tns:productFinishReasonListResponse" />
  </message>
  <message name="IndividualProductService_updatePrice">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="price" type="xsd:double" />
    <part name="cancelBid" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getProductVariants">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="variantId" type="xsd:long" />
    <part name="variantStockCode" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_relistProductsResponse">
    <part name="return" type="tns:productServiceIdResponse" />
  </message>
  <message name="IndividualProductService_insertRetailProductWithNewCargoDetailResponse">
    <part name="return" type="tns:productServiceRetailResponse" />
  </message>
  <message name="IndividualProductService_insertRetailProduct">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="itemId" type="xsd:string" />
    <part name="product" type="tns:productType" />
    <part name="forceToSpecEntry" type="xsd:boolean" />
    <part name="nextDateOption" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getProductVariantsResponse">
    <part name="return" type="tns:productServiceVariantResponse" />
  </message>
  <message name="IndividualProductService_insertProductResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_deleteProduct">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productIdList" type="ns1:intArray" />
    <part name="itemIdList" type="ns1:stringArray" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updateMarketPrice">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="marketPrice" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getProduct">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updateProductWithNewCargoDetailResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_updateItemId">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updateItemIdResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_relistProducts">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productIdList" type="ns1:intArray" />
    <part name="itemIdList" type="ns1:stringArray" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updateProductResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_cloneProduct">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_finishEarlyResponse">
    <part name="return" type="tns:productServiceIdResponse" />
  </message>
  <message name="IndividualProductService_getProductIds">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="statusTypes" type="ns1:stringArray" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updatePriceByPercentageResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_getProductImageStatusResponse">
    <part name="return" type="tns:productServiceImageStatusResponse" />
  </message>
  <message name="IndividualProductService_updateStockResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_insertProductWithNewCargoDetail">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="itemId" type="xsd:string" />
    <part name="product" type="tns:productType" />
    <part name="forceToSpecEntry" type="xsd:boolean" />
    <part name="nextDateOption" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_finishEarly">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productIdList" type="ns1:intArray" />
    <part name="itemIdList" type="ns1:stringArray" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_deleteProductResponse">
    <part name="return" type="tns:productServiceIdResponse" />
  </message>
  <message name="IndividualProductService_payPrice">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="voucher" type="xsd:string" />
    <part name="ccOwnerName" type="xsd:string" />
    <part name="ccOwnerSurname" type="xsd:string" />
    <part name="ccNumber" type="xsd:string" />
    <part name="cvv" type="xsd:string" />
    <part name="expireMonth" type="xsd:string" />
    <part name="expireYear" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_finishEarlyProductsResponse">
    <part name="return" type="tns:productServiceProcessResponse" />
  </message>
  <message name="IndividualProductService_getProducts">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="startOffSet" type="xsd:int" />
    <part name="rowCount" type="xsd:int" />
    <part name="status" type="xsd:string" />
    <part name="withData" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getProductIdsResponse">
    <part name="return" type="tns:productServiceIdResponse" />
  </message>
  <message name="IndividualProductService_getServiceName" />
  <message name="IndividualProductService_getProductStatusesResponse">
    <part name="return" type="tns:productServiceStatusResponse" />
  </message>
  <message name="IndividualProductService_getProductDescription">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_updateProductWithVariantsResponse">
    <part name="return" type="tns:productServiceResponse" />
  </message>
  <message name="IndividualProductService_updateProductWithVariants">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="itemId" type="xsd:string" />
    <part name="productId" type="xsd:string" />
    <part name="product" type="tns:productType" />
    <part name="onSale" type="xsd:boolean" />
    <part name="forceToSpecEntry" type="xsd:boolean" />
    <part name="nextDateOption" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getProductSpecs">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getProductSpecsResponse">
    <part name="return" type="tns:productServiceSpecResponse" />
  </message>
  <message name="IndividualProductService_getProductStatuses">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productIdList" type="ns1:intArray" />
    <part name="itemIdList" type="ns1:stringArray" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getServiceNameResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="IndividualProductService_insertRetailProductWithNewCargoDetail">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="itemId" type="xsd:string" />
    <part name="product" type="tns:productType" />
    <part name="forceToSpecEntry" type="xsd:boolean" />
    <part name="nextDateOption" type="xsd:boolean" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_finishEarlyProducts">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productIdList" type="ns1:intArray" />
    <part name="itemIdList" type="ns1:stringArray" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getProductsResponse">
    <part name="return" type="tns:productServiceListResponse" />
  </message>
  <message name="IndividualProductService_updateVariantStock">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="variantId" type="xsd:string" />
    <part name="stock" type="xsd:int" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_getNewlyListedProductIdListResponse">
    <part name="return" type="tns:productServiceIdResponse" />
  </message>
  <message name="IndividualProductService_calculatePriceForRevision">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="productId" type="xsd:string" />
    <part name="itemId" type="xsd:string" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="IndividualProductService_checkForItemIdResponse">
    <part name="return" type="tns:productServiceBooleanResponse" />
  </message>
  <portType name="IndividualProductService">
    <operation name="calculatePriceForRevision" parameterOrder="apiKey sign time productId itemId lang">
      <input message="tns:IndividualProductService_calculatePriceForRevision" />
      <output message="tns:IndividualProductService_calculatePriceForRevisionResponse" />
    </operation>
    <operation name="calculatePriceForShoppingCart" parameterOrder="apiKey sign time productIdList itemIdList lang">
      <input message="tns:IndividualProductService_calculatePriceForShoppingCart" />
      <output message="tns:IndividualProductService_calculatePriceForShoppingCartResponse" />
    </operation>
    <operation name="checkForItemId" parameterOrder="apiKey sign time itemId lang">
      <input message="tns:IndividualProductService_checkForItemId" />
      <output message="tns:IndividualProductService_checkForItemIdResponse" />
    </operation>
    <operation name="cloneProduct" parameterOrder="apiKey sign time productId itemId lang">
      <input message="tns:IndividualProductService_cloneProduct" />
      <output message="tns:IndividualProductService_cloneProductResponse" />
    </operation>
    <operation name="deleteProduct" parameterOrder="apiKey sign time productIdList itemIdList lang">
      <input message="tns:IndividualProductService_deleteProduct" />
      <output message="tns:IndividualProductService_deleteProductResponse" />
    </operation>
    <operation name="deleteProducts" parameterOrder="apiKey sign time productIdList itemIdList lang">
      <input message="tns:IndividualProductService_deleteProducts" />
      <output message="tns:IndividualProductService_deleteProductsResponse" />
    </operation>
    <operation name="finishEarly" parameterOrder="apiKey sign time productIdList itemIdList lang">
      <input message="tns:IndividualProductService_finishEarly" />
      <output message="tns:IndividualProductService_finishEarlyResponse" />
    </operation>
    <operation name="finishEarlyProducts" parameterOrder="apiKey sign time productIdList itemIdList lang">
      <input message="tns:IndividualProductService_finishEarlyProducts" />
      <output message="tns:IndividualProductService_finishEarlyProductsResponse" />
    </operation>
    <operation name="getNewlyListedProductIdList" parameterOrder="apiKey sign time startOffSet rowCount viaApi lang">
      <input message="tns:IndividualProductService_getNewlyListedProductIdList" />
      <output message="tns:IndividualProductService_getNewlyListedProductIdListResponse" />
    </operation>
    <operation name="getProduct" parameterOrder="apiKey sign time productId itemId lang">
      <input message="tns:IndividualProductService_getProduct" />
      <output message="tns:IndividualProductService_getProductResponse" />
    </operation>
    <operation name="getProductDescription" parameterOrder="apiKey sign time productId itemId lang">
      <input message="tns:IndividualProductService_getProductDescription" />
      <output message="tns:IndividualProductService_getProductDescriptionResponse" />
    </operation>
    <operation name="getProductFinishReasonListByAuthenticatedUser" parameterOrder="apiKey sign time startOffSet rowCount lang">
      <input message="tns:IndividualProductService_getProductFinishReasonListByAuthenticatedUser" />
      <output message="tns:IndividualProductService_getProductFinishReasonListByAuthenticatedUserResponse" />
    </operation>
    <operation name="getProductIds" parameterOrder="apiKey sign time startOffSet rowCount statusTypes lang">
      <input message="tns:IndividualProductService_getProductIds" />
      <output message="tns:IndividualProductService_getProductIdsResponse" />
    </operation>
    <operation name="getProductImageStatus" parameterOrder="apiKey sign time productId lang">
      <input message="tns:IndividualProductService_getProductImageStatus" />
      <output message="tns:IndividualProductService_getProductImageStatusResponse" />
    </operation>
    <operation name="getProductSpecs" parameterOrder="apiKey sign time productId itemId lang">
      <input message="tns:IndividualProductService_getProductSpecs" />
      <output message="tns:IndividualProductService_getProductSpecsResponse" />
    </operation>
    <operation name="getProductStatuses" parameterOrder="apiKey sign time productIdList itemIdList lang">
      <input message="tns:IndividualProductService_getProductStatuses" />
      <output message="tns:IndividualProductService_getProductStatusesResponse" />
    </operation>
    <operation name="getProductVariants" parameterOrder="apiKey sign time productId itemId variantId variantStockCode lang">
      <input message="tns:IndividualProductService_getProductVariants" />
      <output message="tns:IndividualProductService_getProductVariantsResponse" />
    </operation>
    <operation name="getProducts" parameterOrder="apiKey sign time startOffSet rowCount status withData lang">
      <input message="tns:IndividualProductService_getProducts" />
      <output message="tns:IndividualProductService_getProductsResponse" />
    </operation>
    <operation name="getProductsByIds" parameterOrder="apiKey sign time productIdList itemIdList withData lang">
      <input message="tns:IndividualProductService_getProductsByIds" />
      <output message="tns:IndividualProductService_getProductsByIdsResponse" />
    </operation>
    <operation name="getServiceName">
      <input message="tns:IndividualProductService_getServiceName" />
      <output message="tns:IndividualProductService_getServiceNameResponse" />
    </operation>
    <operation name="getStockAndPrice" parameterOrder="apiKey sign time productIdList itemIdList lang">
      <input message="tns:IndividualProductService_getStockAndPrice" />
      <output message="tns:IndividualProductService_getStockAndPriceResponse" />
    </operation>
    <operation name="insertProduct" parameterOrder="apiKey sign time itemId product forceToSpecEntry nextDateOption lang">
      <input message="tns:IndividualProductService_insertProduct" />
      <output message="tns:IndividualProductService_insertProductResponse" />
    </operation>
    <operation name="insertProductWithNewCargoDetail" parameterOrder="apiKey sign time itemId product forceToSpecEntry nextDateOption lang">
      <input message="tns:IndividualProductService_insertProductWithNewCargoDetail" />
      <output message="tns:IndividualProductService_insertProductWithNewCargoDetailResponse" />
    </operation>
    <operation name="insertRetailProduct" parameterOrder="apiKey sign time itemId product forceToSpecEntry nextDateOption lang">
      <input message="tns:IndividualProductService_insertRetailProduct" />
      <output message="tns:IndividualProductService_insertRetailProductResponse" />
    </operation>
    <operation name="insertRetailProductWithNewCargoDetail" parameterOrder="apiKey sign time itemId product forceToSpecEntry nextDateOption lang">
      <input message="tns:IndividualProductService_insertRetailProductWithNewCargoDetail" />
      <output message="tns:IndividualProductService_insertRetailProductWithNewCargoDetailResponse" />
    </operation>
    <operation name="payPrice" parameterOrder="apiKey sign time voucher ccOwnerName ccOwnerSurname ccNumber cvv expireMonth expireYear lang">
      <input message="tns:IndividualProductService_payPrice" />
      <output message="tns:IndividualProductService_payPriceResponse" />
    </operation>
    <operation name="relistProducts" parameterOrder="apiKey sign time productIdList itemIdList lang">
      <input message="tns:IndividualProductService_relistProducts" />
      <output message="tns:IndividualProductService_relistProductsResponse" />
    </operation>
    <operation name="updateItemId" parameterOrder="apiKey sign time productId itemId lang">
      <input message="tns:IndividualProductService_updateItemId" />
      <output message="tns:IndividualProductService_updateItemIdResponse" />
    </operation>
    <operation name="updateMarketPrice" parameterOrder="apiKey sign time productId marketPrice lang">
      <input message="tns:IndividualProductService_updateMarketPrice" />
      <output message="tns:IndividualProductService_updateMarketPriceResponse" />
    </operation>
    <operation name="updatePrice" parameterOrder="apiKey sign time productId itemId price cancelBid lang">
      <input message="tns:IndividualProductService_updatePrice" />
      <output message="tns:IndividualProductService_updatePriceResponse" />
    </operation>
    <operation name="updatePriceByPercentage" parameterOrder="apiKey sign time productId itemId operatorType percentage lang">
      <input message="tns:IndividualProductService_updatePriceByPercentage" />
      <output message="tns:IndividualProductService_updatePriceByPercentageResponse" />
    </operation>
    <operation name="updateProduct" parameterOrder="apiKey sign time itemId productId product onSale forceToSpecEntry nextDateOption lang">
      <input message="tns:IndividualProductService_updateProduct" />
      <output message="tns:IndividualProductService_updateProductResponse" />
    </operation>
    <operation name="updateProductVariants" parameterOrder="apiKey sign time productId itemId productVariant lang">
      <input message="tns:IndividualProductService_updateProductVariants" />
      <output message="tns:IndividualProductService_updateProductVariantsResponse" />
    </operation>
    <operation name="updateProductWithNewCargoDetail" parameterOrder="apiKey sign time itemId productId product onSale forceToSpecEntry nextDateOption lang">
      <input message="tns:IndividualProductService_updateProductWithNewCargoDetail" />
      <output message="tns:IndividualProductService_updateProductWithNewCargoDetailResponse" />
    </operation>
    <operation name="updateProductWithVariants" parameterOrder="apiKey sign time itemId productId product onSale forceToSpecEntry nextDateOption lang">
      <input message="tns:IndividualProductService_updateProductWithVariants" />
      <output message="tns:IndividualProductService_updateProductWithVariantsResponse" />
    </operation>
    <operation name="updateStock" parameterOrder="apiKey sign time productId itemId stock cancelBid lang">
      <input message="tns:IndividualProductService_updateStock" />
      <output message="tns:IndividualProductService_updateStockResponse" />
    </operation>
    <operation name="updateVariantStock" parameterOrder="apiKey sign time productId itemId variantId stock lang">
      <input message="tns:IndividualProductService_updateVariantStock" />
      <output message="tns:IndividualProductService_updateVariantStockResponse" />
    </operation>
  </portType>
  <binding name="IndividualProductServiceBinding" type="tns:IndividualProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="calculatePriceForRevision">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="calculatePriceForShoppingCart">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="checkForItemId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="cloneProduct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="deleteProduct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="deleteProducts">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="finishEarly">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="finishEarlyProducts">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getNewlyListedProductIdList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getProduct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getProductDescription">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getProductFinishReasonListByAuthenticatedUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getProductIds">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getProductImageStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getProductSpecs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getProductStatuses">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getProductVariants">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getProducts">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getProductsByIds">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getServiceName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getStockAndPrice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="insertProduct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="insertProductWithNewCargoDetail">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="insertRetailProduct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="insertRetailProductWithNewCargoDetail">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="payPrice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="relistProducts">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="updateItemId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="updateMarketPrice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="updatePrice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="updatePriceByPercentage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="updateProduct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="updateProductVariants">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="updateProductWithNewCargoDetail">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="updateProductWithVariants">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="updateStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="updateVariantStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="https://product.individual.ws.listingapi.gg.com" />
      </output>
    </operation>
  </binding>
  <service name="IndividualProductServiceService">
    <port name="IndividualProductServicePort" binding="tns:IndividualProductServiceBinding">
      <soap:address location="https://dev.gittigidiyor.com:8443/listingapi/ws/IndividualProductService" />
    </port>
  </service>
</definitions>