Integration/Marketplace/GittiGidiyor/Service References/CommunityAuthService/CommunityAuthServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://auth.community.ws.listingapi.gg.com" name="CommunityAuthServiceService" targetNamespace="http://auth.community.ws.listingapi.gg.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://auth.community.ws.listingapi.gg.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="return" type="tns:apiTokenServiceResponse" />
      <xs:complexType name="apiTokenServiceResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="tokenId" type="xs:string" />
              <xs:element minOccurs="0" name="nick" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ackCode" type="xs:string" />
          <xs:element minOccurs="0" name="responseTime" type="xs:string" />
          <xs:element minOccurs="0" name="error" type="tns:errorType" />
          <xs:element minOccurs="0" name="timeElapsed" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="errorType">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorId" type="xs:string" />
          <xs:element minOccurs="0" name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="viewMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="CommunityAuthService_createTokenResponse">
    <part name="return" type="tns:apiTokenServiceResponse" />
  </message>
  <message name="CommunityAuthService_getServiceName" />
  <message name="CommunityAuthService_createToken">
    <part name="apiKey" type="xsd:string" />
    <part name="sign" type="xsd:string" />
    <part name="time" type="xsd:long" />
    <part name="lang" type="xsd:string" />
  </message>
  <message name="CommunityAuthService_getServiceNameResponse">
    <part name="return" type="xsd:string" />
  </message>
  <portType name="CommunityAuthService">
    <operation name="createToken" parameterOrder="apiKey sign time lang">
      <input message="tns:CommunityAuthService_createToken" />
      <output message="tns:CommunityAuthService_createTokenResponse" />
    </operation>
    <operation name="getServiceName">
      <input message="tns:CommunityAuthService_getServiceName" />
      <output message="tns:CommunityAuthService_getServiceNameResponse" />
    </operation>
  </portType>
  <binding name="CommunityAuthServiceBinding" type="tns:CommunityAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="createToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://auth.community.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://auth.community.ws.listingapi.gg.com" />
      </output>
    </operation>
    <operation name="getServiceName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://auth.community.ws.listingapi.gg.com" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://auth.community.ws.listingapi.gg.com" />
      </output>
    </operation>
  </binding>
  <service name="CommunityAuthServiceService">
    <port name="CommunityAuthServicePort" binding="tns:CommunityAuthServiceBinding">
      <soap:address location="https://dev.gittigidiyor.com:8443/listingapi/ws/CommunityAuthService" />
    </port>
  </service>
</definitions>